.container--reviews{
    max-width: 1140px;
    margin: 0 auto; 
    position: relative;
}

.carusel{
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding: 0 130px 67px;
    
}

.reviews_title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: rgba(49, 66, 198, 1);
    margin-bottom: 28px;
}

.reviews_text{
    max-width: 750px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;
    color: rgba(43, 41, 45, 1);
    margin-bottom: 34px;
}

.reviews_person-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}

.reviews_person-job{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
}

.reviews_img{
    position: absolute;
    right: 0px;
    bottom: -30px;
}

.bx-pager{
    max-width: 50px;
    
    display: flex;
    text-align: center;
    align-items: center;
}

.bx-pager-item{
     
    width: 8px;
    height: 8px;
    border-radius:  50%;
    background-color:rgba(43, 41, 45, .20);
    margin-right: 12px;
    
}

.bx-pager-item:hover{
    background-color:rgba(49, 66, 197, 1);
    transition: 600ms;

}

.bx-pager-link:focus{
    width: 8px;
    height: 8px;

}

.bx-pager-link{
 opacity: 0;
}

.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow:none;
    border: none;
    background: none;
}

.bx-wrapper .bx-pager{
   left:415px;

}

.bx-wrapper .bx-pager.bx-default-pager a {
    
    width: 8px;
    height: 8px;
    margin: 0;
}