body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
   
}

.header{
    margin: 52px 0 53px;

}

.nav_li{
    display: inline-block;
    
    
}

.nav_li:not(:last-of-type){
    margin-right: 48px;
}

.nav_ul{
    text-align: center;
   
}

.nav_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #000000;
} 

.background{
    text-align: center;
    padding: 138px 0 264px;
    background-image: url(./img/pexels-harrison-candlin-2441454\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_title{
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin-bottom: 14px;
 }


.background_button{
    width: 420px;
    height: 70px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
}

.description{
    background-color: rgba(92, 152, 171, 1);
}

.description_text{
    max-width: 726px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    padding: 133px 0 134px ;
    color: #FFFFFF;
    margin-bottom: 355px;

}

.item{
    position: relative;
    }

.squere_item{
    position: absolute;
    width: 178px;
    height: 121px;
    border-radius: none;
    background: #BFDEFB;

}

.item_text{
    max-width: 696px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 216px;
    
}
.squere_item1{
    top: 121px;
}

.squere_item2{
     top: -60px;
}

.squere_item3{
right: -15px;    

}



.feedback_text{
    position: relative;
    max-width: 696px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
     margin-bottom: 123px;
     

}

.feedback_text::after{
    content: '';
    width: 58px;
    height: 58px;
    border-radius: 58%;
    background: 5C98AB;
    position: absolute;
    background-color: rgba(92, 152, 171, 1);
    top: -45px;
    left: -45px;
}

.feedback_text::before{
    content:'';
    width: 120px;
    height: 120px;
    border-radius: 120%;
    background-color: #BFDEFB;
    right: -155px;
    bottom: -95px;
    position: absolute;
}


.form-section{
    max-width: 647px   ;
    margin: 63px auto 100px;
}
.input_wrapper{
    position: relative;
    margin-bottom: 41px;

}
.input{
    width: 100% ;
    height: 96px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 36px 0 11px 34px;
    box-sizing: border-box;
}

.label{
    position: absolute;
    font-family: 'Open Sans';
    top:14px;
    left: 31px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}

.input::placeholder{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}

.form_button{
    width: 100%;
    height: 92px;
    background-color:#5C98AB ; 
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
}