body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto; 
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_star{
    justify-content:start
}

.flex_around{
    justify-content:space-around
}


.button{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: #3040C4;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    align-items: center;
}

.logo img{
margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;

}

.header_link:hover{
    font-weight: bold;
    position: relative;
}

.header_ul{
    margin-right: 77px;
}

.header_li:not(last-of-type){
    margin-right: 30px;

}

.header_li a:hover::after{
    content: "";
    position: absolute;
    text-decoration: underline;
    width: 100%;
    height: 2px;
    background-color: #3040C4;
    left: 0;
    transition: 1s;

}

.about{
    background-color: #F4F5F7;
    padding: 77px 0 78px;
}

.about_What{
    max-width: 567px;
    
}

.about_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.about_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.partners{
    margin: 0 auto;
}

.categories{
    background-color: rgba(0, 161, 198, 0.1);
    margin: 0 auto;
    }
    
.info_pretitle-categories{
    max-width: 167px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 108px;
    margin-bottom: 24px;
    
}

 .info_title-categories{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.info_text-categories{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 34px;
}

.categories_button{
    text-align: center;
    margin-bottom: 111px;
}


.button-white{
    background-color: #FFFFFF;
    color: #2B292D;
    margin-left: 10px;

}

.categories_content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-between;
    column-gap: 30px;
    padding-bottom: 110px;
}

.categories_item{
    background: #FFFFFF;
    max-width: 262px;
    max-height: 300px;
    text-align: center;
    border-radius: 5px;
}

.categories_item:hover >p{
    transition: 1s;
    color: #FFFFFF;
}

.categories_item:hover{
    background-color: #3040C4;
    transition: 1s;
}

.img_item{
    padding: 22px 0 22px;
}

.img_text{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2B292D;
    font-weight: 700;
}

.information_content{
    margin-top: 80px;
}

.information_title{
    max-width: 588px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
   margin-bottom: 26px;
}

.information_subtitle{
    max-width: 554px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 97px
}
.information_item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 42px;
    column-gap: 50px;
   }

   .categories_img{
    width: 100%;
    height: 100%;
   }

.item_img:nth-child(3), .item_img:nth-child(4){
    grid-row: span 2;
}



/* inbox */

.inbox{
    background-color:rgba(252, 240, 227, .4);
    padding: 119px 0 118px;
    margin-bottom: 110px;
}

.info_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 26px;
}

.info_pretitle-orange{
    color: #F1592B;
}

.info_title{
    max-width: 462px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #2B292D;
    margin-bottom: 26px;

}

.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: #FFFFFF;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox_text{
    max-width: 461px;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_img{
    margin-right: 11px;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}
.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}


/* info */

.info_pretitle--blue{
    max-width: 225px;
    margin-bottom: 24px;
    color: #0189D1;
}

.info_title--width{
    margin-bottom: 30px;
}

.info_text--width{
    margin-bottom: 39px;
}

.communicate_img{
    max-width: 425px;
    margin: 0 63px 220px 0px;
}

.offer{
    margin-bottom: 105px;
}

.offer_content1 .offer_content2 .offer_content3{
    max-width: 360px;
}

.offer_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}
.offer_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3040C4;
}





@media screen and (max-width: 1200px){
    .container{
        max-width: 1040px;
    }

    .header_ul{
        margin-right: 50px;
    }
}
   
@media screen and (max-width: 1090px){

    .container{
        max-width: 750px;
    }

    .logo_text{
        display: none;
    }

    .header_nav{
        display: none;
    }
/* section about */
    .flex_column--column{
        flex-direction: column;
    }

    .about_content{
        max-width: 432px;
    }

    /* section partners */

    .grid_partners--1090{
        display: grid;
        grid-template-columns: repeat( 3,1fr);
        grid-template-rows: repeat( 2, 1fr);
        justify-content: space-between;
        gap: 37px 127px;
        padding-bottom: 41px;
        justify-items: center;

    }

     /* section inbox */

     .flex_inbox--column{
        flex-direction: column-reverse;
       
     }

     .inbox{
        padding: 56px 0 69px;
        text-align: center;
        margin-bottom: 0;
       }

     .info{
        text-align: center;
        
     }
     
     .info_pretitle{
        margin-bottom: 14px;
     }

     .info_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
     }

     .info_text{
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
     }

     .inbox_response{
        text-align: start;
        margin-bottom: 75px;
     }

     .container-image_img{
        margin-bottom: 69px;
     }

     /* section communicate */

     .flex_communicate_column{
        flex-direction: column;
     }

     .info_communicate{
        text-align: center;
     }
     .info_pretitle--blue{
        margin: 0 auto 14px;

     }

     .info_title--width{
        max-width: 318px;
        margin: 0 auto 19px;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -0.5px;
     }

     .info_text--width{
        max-width: 419px;
        margin: 0 auto 41px;
        font-size: 20px;
        line-height: 26px;
     }

    .button_communicate{
        margin-bottom: 37px;
    }

    .communicate_img{
        margin-bottom: 38px;
    }

    .offer_content1{
        max-width: 322px;
        text-align: center;
        margin: 0 auto 38px;
 }

 .offer_content2, .offer_content3 {
    display: none;
 }   
 
 /* categories */

 .info_pretitle-categories{
    margin-bottom: 27px;
 }

 .info_title-categories{
    max-width: 413px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-bottom: 27px;
 }

 .info_text-categories{
    max-width: 466px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 27px;
 }

 .grid_categories{
    display: grid;
    max-width: 588px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    gap: 38px 64px;
 }
 .categories_content{
    margin-bottom: 79px;
 }

 /* information */

 .information{
    margin: 0 auto 124px;
 }

 .information_title{
    margin: 0 auto 29px;
    max-width: 500px;
    font-size: 48px;
    line-height: 56px;
 }

 .information_subtitle{
    margin: 0 auto 113px;
    max-width: 399px;
    font-size: 20px;
    line-height: 34px;
 }

 .grid_information--1090{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:  45px 30px;
}
.item_img:nth-child(2){
    grid-row: 4/5;
    grid-column: 2/3;
}

.item_img:nth-child(3){
    grid-column: 2/3;
    grid-row: 1/3;
}
.item_img:nth-child(4){
    grid-row: 2/4;
}
.item_img:nth-child(7){
    display: none;
}

}

@media screen and (max-width: 800px){
    .container{
        max-width: 500px;
    }

    .header{
        padding: 47px 0 48px;
    }
    
    .about_What{
        padding-bottom: 20px;
    }
    
    .grid_partners--1090 {
        gap: 37px 50px;
    }

    .info_pretitle--blue {
        margin: 0 auto 20px;
    }

    .communicate_img{
        max-width: 350px;
    }


    .categories_button {
    margin-bottom: 75px;
    }

    .information_subtitle {
        margin: 0 auto 75px;
    }

    .info_pretitle--blue{
        margin: 0 auto 30px;
    }

    .grid_categories--330{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 15px;
        padding-bottom: 55px;
         align-items: center;
    }
    .categories_item{
        max-width: 290px;
        width: 100%;
    }

    .grid_information--1090{
        gap: 30px 15px;
    }

    }


@media screen and (max-width: 550px){
    .container{
        max-width: 430px;
    }
    .header {
        padding: 37px 0 38px;
    }

    .grid_partners--1090{
        gap: 22px 10px;
    }

    .container-image_img {
        margin-bottom: 0px;
        max-width: 360px;
    }

     .inbox_response {
        max-width: 450px;
    }

    .grid_information {
       gap: 20px 15px;
    }

    .information_title{
        text-align: center;
    }

    
}

@media screen and (max-width: 480px){
  .container{
    max-width: 330px;
  }

  .header {
    padding: 27px 0 28px;
}

.grid_partners--1090{
    gap:  61px 30px;
    }

.partners_img1{
    width: 77px;
    height: 55px;
 }
.partners_img2{
    width: 78px;
    height: 21px;
 }
.partners_img3{
    width: 35px;
    height: 40px;
   
}

.partners_img4{
    width: 77px;
    height: 13px;
   }

.partners_img5{
    width: 49px;
    height: 28px;
   }

.partners_img6{
    width: 75px;
    height: 25px;
   }

   /* .inbox */

   .inbox{
    padding: 50px 0px 48px ; 
 }

 .info_pretitle--blue{
    margin: 0 auto 17px;
    max-width: 100%;}

.button-white {
    margin-left: 0;
}

.categories_button{
    max-width: 300px;
}

.info_title-categories {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.5px;
    margin-bottom: 27px;
}

.button_290{
    width: 290px;
    margin-bottom: 12px;
   
}

.button_290--white{
    width: 290px;
    margin-bottom: 12px;
    background-color: #FFFFFF;
}


.grid_categories--330{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 15px;
    padding-bottom: 55px;
     align-items: center;
}
.categories_item{
    max-width: 290px;
    width: 100%;
}

.information_title{
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 50px;
}

.information_subtitle{
    
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0 auto 25px;
}

.grid_information--480{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(7, 1fr);
    row-gap: 17px;
}

.item_img:nth-child(2){
    display: none;
}

.item_img:nth-child(3){
    grid-column: 1/2;
    grid-row: 4/6;
}
.item_img:nth-child(4){
    grid-row: 2/4;
}
.item_img:nth-child(7){
    display: none;
}

}
   
@media screen  and (max-width: 360px){
    container{
        max-width: 300px;
    }

    .info{
        text-align: start;
      }    
      .container-image_img{
        max-width: 300px;
      }
      .communicate_img {
        max-width: 300px;
      }

      .grid_information--480{
        row-gap: 10px;
    }

}

@media screen and (max-width: 320px){
     .container{
        max-width: 290px;
     }

     .header{
        background-color: #FFFFFF;
        padding: 20px 0 19px;
     }
     .logo_title{
        font-size: 20px;
        line-height: 25px;
     }
/* about */
     .about{
        padding: 46px 15px;
     }

     .about_What{
        padding-bottom: 20px;
     }
     
     .about_title, .about_text{
        font-size: 22px;
        line-height: 32px;
     }

     /* partners */
     .grid_partners--1090{
        gap:  61px 30px;
        }

        .partners_img1{
            width: 77px;
            height: 55px;
         }
        .partners_img2{
            width: 78px;
            height: 21px;
         }
        .partners_img3{
            width: 35px;
            height: 40px;
           
        }

        .partners_img4{
            width: 77px;
            height: 13px;
           }

        .partners_img5{
            width: 49px;
            height: 28px;
           }

        .partners_img6{
            width: 75px;
            height: 25px;
           }


   /* inbox */

   .flex_inbox--column{
    flex-direction: column;
   }

   .container-image_img{
    max-width: 290px;
    width: 100%;
 }

  .container-image{
    margin-bottom: 32px;
  }

  .inbox{
    padding: 50px 0px 48px ; 
 }

  .info{
    text-align: start;
  }

  .info_pretitle-orange{
    margin-bottom: 17px;
 }

  .info_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-bottom: 18px;
}

.info_text{
    max-width: 290px;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 40px;
}

.inbox_response{
    padding: 30px 20px ;
}

/* communicate */

.info_communicate{
    text-align: start;
    margin: 53px 0;
}

.info_pretitle--blue{
    margin: 0 auto 17px;
    max-width: 100%;
}

.info_title--width{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    margin-bottom: 18px;
}

.info_text--width{
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 30px;
}

.button_communicate{
    margin-bottom: 40px;
}
.communicate_img{
    max-width: 290px;
    width: 100%;
    margin-bottom: 113px;
}

.flex_communicate--column{
    flex-direction: column;
    text-align: start;
}

.offer{
    margin-bottom: 53px;
}

.offer_content1, .offer_content2, .offer_content3{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 26px;
    text-align: start;

}

.offer_content1, .offer_content2{
    margin-bottom: 33px;
}

/* categories */


.info_pretitle-categories{
    margin-bottom: 17px;
    padding-top: 50px;
}

.info_title-categories{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 18px;
}
.categories_button{
    margin-bottom: 40px;
}

.grid_categories--330{
    row-gap:  15px;
    padding-bottom: 50px;
}

.categories_item{
    max-width: 290px;
    width: 100%;
}

/* .information */

.information_title{
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 75px;
}

.information_subtitle {
    
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0 auto 25px;
}



}
     
     


