body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto; 
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: #3040C4;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
}

.logo img{
margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;

}

.header_link:hover{
    font-weight: bold;
    position: relative;
}

.header_ul{
    margin-right: 77px;
}

.header_li:not(last-of-type){
    margin-right: 30px;

}

.header_li a:hover::after{
    content: "";
    position: absolute;
    text-decoration: underline;
    width: 100%;
    height: 2px;
    background-color: #3040C4;
    left: 0;
    transition: 1s;

}

.about{
    background-color: #F4F5F7;
    padding: 77px 0 78px;
}

.about_What{
    max-width: 567px;
    
}

.about_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}

.about_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.partners{
    margin: 0 auto;
}

.partners_img{
    justify-content: space-around;
    align-items:center 
}

.categories{
    background-color: rgba(0, 161, 198, 0.1);
    margin: 0 auto;
    }
    
    

 .categories_subtitle{
    max-width: 167px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    font-weight: 700;
    padding-top: 108px;
    margin-bottom: 24px;
    
}

 .categories_title{
    max-width: 555px;
    margin: 0 auto;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 700;
    color: #2B292D;
    margin-bottom: 30px;
}

.categories_text{
    max-width: 555px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 34px;
}

.categories_button{
    text-align: center;
    margin-bottom: 111px;
}


.button_right{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 13px;
    cursor: pointer;
    font-weight: 700;
    background-color: #FFFFFF;
    margin-left: 10px;
}

.categories_content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 30px;
    padding-bottom: 110px;
}

.categories_item{
    background: #FFFFFF;
    max-width: 262px;
    min-height: 300px;
    text-align: center;
    border-radius: 5px;
}

.categories_item:hover{
    background:#3141C5;
    transition: 1s;
}

.img_item{
    padding: 22px 0 22px;
}

.img_text{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #2B292D;
    font-weight: 700;
   }

.img_text:hover{
    color: #FFFFFF;
}

.information_content{
    margin-top: 80px;
}


.information_title{
    max-width: 588px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    padding-bottom: 26px;
}

.information_subtitle{
    max-width: 554px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 97px
}
.information_item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 42px;
    column-gap: 50px;
   }

.item_img:nth-child(3), .item_img:nth-child(4){
    grid-row: span 2;
}

